<form cForm>
  <div class="mb-3">
    <c-input-group class="mb-3">
      <span cInputGroupText>
        <svg cIcon name="cilCalendar"></svg>
      </span>
      <input
        type="date"
      />
    </c-input-group>
    <c-input-group class="mb-3">
      <span cInputGroupText>
        <svg cIcon name="cilCalendar"></svg>
      </span>
      <input
        type="time"
      />
    </c-input-group>
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlInput2">Raison</label>
    <input
      cFormControl
      id="exampleFormControlInput2"
    />
  </div>
  <div class="mb-3">
    <label cLabel for="exampleFormControlTextarea1">Descrition</label>
    <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
