<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-alert
      color="danger"
      class="d-flex align-items-center"
      [visible]="visible"
      dismissible
      fade
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Info:"
      >
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      <div>Email ou mot de passe incorret</div>
      <button (click)="visible = false" cButtonClose black></button>
    </c-alert>
    <c-row class="justify-content-center">
      <c-col md="10">
        <c-card-group>
          <c-card class="p-2">
            <c-card-body>
              <form cForm [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <h2>BIENVENUE</h2>
                <p class="text-medium-emphasis">
                  Connectez-vous à votre compte
                </p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    formControlName="email"
                    placeholder="Adresse Email"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    formControlName="password"
                    placeholder="Mot de passe"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Se connecter
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Mot de passe oublié?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card
            [ngStyle]="{
              'background-image':
                'url(\'../../../assets/img/brand/login.jpg\')',
              'background-size': 'cover'
            }"
            class="text-black py-5"
          >
            <c-card-body
              class="text-center"
              style="
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              "
            >
              <div>
                <button
                  [active]="true"
                  cButton
                  class="mt-3"
                  color="primary"
                  routerLink="/register"
                >
                  Créer un compte
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
